@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

h1{
    font-family: 'TTLaundryGothicB';
}

body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: saddlebrown;
    font-weight : bold;
}

.content {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.store-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.store-table th, .store-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.store-table th {
    background-color: rgb(239, 226, 213);
    color: saddlebrown;
    font-weight: bold;
}

.store-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.store-table tr:hover {
    background-color: #f1f1f1;
}

.store-table td a {
    color: saddlebrown;
    text-decoration: none;
    font-weight : bold;
}

.store-table td a:hover {
    color : #ffea00;
    text-decoration: none;
    font-weight : bold;
}

.store-table td a:active {
    color : orange;
    text-decoration: none;
    font-weight : bold;
}

.store-table td img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}


.store-table td:first-child {
    font-weight: bold;
    color: saddlebrown;
}

.sort-area {
    color: grey;
    display: ruby;
    float: right;
    font-size: 18px;

}

.sort-element {
    margin-left: 5px;
    margin-bottom: 0;
}
#sort-header {
    width: 6%;
}


/*.location-set button {
    border-radius: 15px;
    border: 2px solid #c58a00;
    background-color: #fff68f;
}*/


.sort-element:active {
    color: #894f1a !important; /* 활성화된 상태일 때 버튼 색상 */
    font-weight: bold; /* 굵은 글씨 */
}
.sort-element:link { color : grey; text-decoration : none }
.sort-element:visited { color : grey; text-decoration : none }
.sort-element:hover { color : #ffea00; text-decoration : none }

.scate-area{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    gap: 1%;
}

.each-scate-area{
    text-align: center;
}

.each-scate-area p{
    margin: 0;
}

.store-cate-button{
    height: 50px;
    padding: 5px 10px;
    margin: 3px;
}

.store-cate-button p{
    background: #fff3db;
    border-radius: 20px;
}
.each-scate-area p { color : saddlebrown; text-decoration : none }
.each-scate-area p:hover { color : #ffb217; font-weight:bolder }
.each-scate-area.select p { color : #ffb217; font-weight:bolder }


.each-scate-area.select img{
    background-color: #ffe490;
    border-radius: 30px;
}


#waiting-comment {
    margin-top: 1%;
    color: #bdbdbd;
}